/* 
media query per cellulari 
*/
@media screen and (max-width: 1024px) {
    html{
        overflow-x: hidden;
    }
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }

    /* NAV responsive */
    nav .logo-nav img{
        height: 28px;
    }
    nav .logo-nav{
        margin-left: 10px;
    }
    /* BUTTON / NAV BUTTON CODE */
    button {
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s;
    padding: 0px 10px;
    border-radius: 100px;
    background: #ba9133;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 14px;
    }

    button:hover {
    background: #fec20d;
    }

    button > svg {
    width: 24px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    }

    button:hover svg {
    transform: translateX(5px);
    }

    button:active {
    transform: scale(0.95);
    }
    nav #a-button{
        margin-right: 10px;
    }
    nav a{
        text-decoration: none;
        color: black;
    }

    /* header css responsive */
    header{
        height: 140vh;
    }
    header .cube-effect{
        width: 50px;
        height: 50px;
        border-left: 1px solid #c0c0c0;
        border-top: 1px solid #c0c0c0;
    }
    header h1{
        margin-top: 15px;
        font-size: clamp(2rem, 1.1rem + 5.8vw, 3.2rem);
    }
    .img-mano{
        display: none;
    }
    .img-mano-mobile{
        display: block;
        width: 90%;
        position: absolute;
        bottom: 0;
        right: 0;

    }
    header h2{
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    header a{
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }
    header .mastercard-section{
        margin-left: 6vw;
        margin-right: 6vw;
    }
    header .mastercard-section p{
        font-size: .7rem;
    }
    header .mastercard-section br{
        display: none;
    }

    /* visual css responsive*/
    .visual{
        min-height: auto;
    }
    .visual .visual-subtitle{
        margin-top: 3vh;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
    }
    .visual .visual-img-conainer{
        width: 95%;
        gap: 5px;
        margin-bottom: 5vh;
    }
    .visual .visual-img-conainer img {
        height: 30px;
    }

    /* about css responsive */
    .about h2{
        margin-top: 10px;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .about h2 br{
        display: none;
    }
    .about .card-container{
        flex-direction: column;
        width: 90%;
        gap: 40px;
        margin-bottom: 10vh;
    }
    .about .card-container .about-card{
        width: 100%;
        height: auto;
        border: 1.4px solid #d6d6d6;

    }
    .about .card-container .about-card h3{
        font-size: clamp(1.2rem, 1.05rem + 1.4vw, 1.8rem);
    }
    .about .card-container .about-card h3 span{
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);

    }
    .about .card-container .about-card p{
        margin-bottom: 25px;
        font-size: clamp(0.85rem, 0.81rem + 0.35vw, 1.05rem);
    }

    /* vantages css responsive */
    .cv-vantages{
        flex-direction: column-reverse;
        height: auto;
    }
    .cv-vantages canvas{
        height: 50vh;
        width: 100%;
    }
    .cv-vantages > span{
        bottom: 2vh;
        left: 50%;
    }
    .cv-vantages .vantages{
        width: 100%;
        height: auto;
        align-items: center;
    }
    .cv-vantages .vantages .subtitle-vantages{
        font-size: clamp(1rem, 0.85rem + 1.45vw, 1.5rem);
        margin-top: 7vh;
    }
    .cv-vantages .vantages h2{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
        motion-path: 10px;
    }
    .cv-vantages .vantages .p-vantages{
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: clamp(0.9rem, 0.82rem + 0.75vw, 1.25rem);
        text-align: center;
    }

    /* fido css responsive */
    .fido{
        flex-direction: column;
    }
    .fido .fido-parent{
        width: 100%;
        height: auto;
    }
    .fido .fido-text-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fido .fido-text-container .subtitle-fido{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1rem, 0.85rem + 1.45vw, 1.5rem);
        margin-top: 15vh;

    }
    .fido .fido-text-container h2{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
    }
    .fido .fido-text-container .p-fido{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 10vh;
        font-size: clamp(0.9rem, 0.82rem + 0.75vw, 1.25rem);
        text-align: center;
    }
    .credit-score-widget {
        width: 85%;
    }
    .footer-value {
        font-size: 15px;
    }

    /* security css responsive */
    .security .card-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 40px;
        margin-bottom: 10vh;
    }
    .security .card-container .security-card{
        width: 100%;
        height: auto;
        border: 1.4px solid #d6d6d6;

    }
    .security .card-container .security-card h3{
        font-size: clamp(1.2rem, 1.05rem + 1.4vw, 1.8rem);
    }
    .security .card-container .security-card  span{
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
    }
    .security .card-container .security-card p{
        margin-bottom: 25px;
        font-size: clamp(0.85rem, 0.81rem + 0.35vw, 1.05rem);
    }
    .security h2{
         margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
    }
    .security .subtitle-security{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1rem, 0.85rem + 1.45vw, 1.5rem);
        margin-top: 15vh;
    }
    .security .p-security{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 0;
        font-size: clamp(0.9rem, 0.82rem + 0.75vw, 1.25rem);

    }

    /* requise css responsive */
    .requise{
        height: auto;
        flex-direction: column;
    }
    .requise .container{
        width: 100%;
        height: 50%;    
    }
    .requise .requise-text-conteiner h2{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10vh;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
    }
    .requise .requise-text-conteiner p{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 15px;
    }
    .requise .requise-text-conteiner #a-button{
        margin-left: 5vw;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    .requise .requise-content-container .circle{
        margin-left: 5vw;
    }
    .requise .requise-content-container .requise-subsection{
        margin-left: calc(5vw + 20px);
        height: auto;
    }
    .requise .requise-content-container .requise-subsection h3{
        margin-left: 10px;
        margin-right: 5vw;
        font-size: clamp(1.4rem, 1.15rem + 2.65vw, 2.4rem);
    }
    .requise .requise-content-container .requise-subsection p{
        margin-left: 10px;
        margin-right: 5vw;
        margin-bottom: 30px;
    }
    
    /* partenrs css responsive */
    .partners h3{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 15vh;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);

    }
    .partners p{
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: clamp(0.9rem, 0.82rem + 0.75vw, 1.25rem);

    }
    .partners .slider{
        margin-bottom: 10vh;
        width: 99%;
    }
    .partners .slider-track{
        gap: 25px;
    }
    .partners .slider-track img{
        height: 40px;
    }

    /* info responsive css */
    .info{
        background: radial-gradient(
        circle at 50% 85%, 
        rgba(186, 145, 19, 0.4) 0%,
        rgba(142, 112, 15, 0.18) 15%,
        rgba(122, 95, 0, 0.05) 30%,
        rgba(92, 71, 8, 0.01) 45%,
        transparent 50%
    ),
    #f2f2f2;
    }
    .info .info-title-container{
        justify-content: center; 
    }
    .info .info-content-container{
        width: 100%;
    }
    .info .info-title-container h2{
        margin-top: 15vh;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
    }
    .info .info-title-container p{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        margin-top: 15px;
    }
    .info .info-content-container {
        flex-direction: column-reverse;
    }
    .info .info-card-container{
        width: 99%;
        justify-content: start;
    }
    .info .info-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info .info-content-container .info-subc2{
        width: 100%;
        height: auto;
    }
    .info .info-content-container .info-subc2 #first{
        margin-top: 0;
    }
    .info .info-content-container h3{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        margin-top: 10px;
        font-size: clamp(1.05rem, 0.9rem + 1.1vw, 1.45rem);
    }
    .info .info-content-container p{
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .info button{
        margin-top: 50px;
        justify-self: center!important; 
        align-self: center!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .info a{
        align-self: center;
    }
    .info .info-subc1{
        width: 100%!important;
        height: auto;
    }
    .info img{
        width: 80%;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

    /*vsl css responsive */
    .vsl .vsl-sub{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1rem, 0.85rem + 1.45vw, 1.5rem);
        margin-top: 15vh;
    }
    .vsl h2{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
    }
    .vsl .vsl-p{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 0;
        font-size: clamp(0.9rem, 0.82rem + 0.75vw, 1.25rem);

    }
    .vsl .video-wrapper{
        width: 90%;
    }

    /* contact css responsive */
    .contact h2{
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
        font-size: clamp(1.6rem, 1.2rem + 3.3vw, 2.8rem);
        margin-top: 5vh;
    }
    .contact p{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 0;
        text-align: center;
        margin-top: 10px;
        font-size: clamp(0.9rem, 0.82rem + 0.75vw, 1.25rem);
    }
    .contact form{
        width: 90%;
        gap: 10px;
    }
    .contact form button{
        margin-top: 20px;
    }
    .contact .direct-contact-container{
        width: 95%;
    }
    .contact .direct-card-container .direct-card .nm-text{
        font-size: clamp(1rem, 0.85rem + 1.45vw, 1.5rem);
    }

    /* footer css responsive */
    footer{
        height: auto;
    }
    footer .footer-container{
        flex-direction: column;
    }
    footer .footer-container .social{
        width: 100%;
    }
    footer .footer-container .social #logo-img{
        width: 95%;
        margin-left: 0;
    }
    footer .footer-container .social p{
        margin-right: 5vw;
        margin-top: 30px;
    }
    footer .footer-container .social h3{
        margin-top: 10vh;
    }
    footer .footer-container .content{
        width: 100%;
        flex-direction: column;
        gap: 0;
        height: auto;
    }
    footer .footer-container .content div{
        margin-left: 5vw;
    }
    footer .footer-container .content #last{
        margin-bottom: 10vh;
    }
    footer .legal-info p{
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: .6rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }





}